<nav class="navbar col-md-12 col-sm-12 col-xs-12  wow fadeInUp">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="" class="navbar-brand logo">
        <img src="images/rsz_color_with_background2x.png">
      </a>
    </div>
    <div id="myNavbarDiv">
      <ul class="nav navbar-nav pull-right">
        <li><a href="about" >about</a></li>
        <li><a href="about">our team  </a></li>
        <li><a href="about">contact us</a></li>
      </ul>
    </div>
  </div>
</nav>
