<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/media.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-slider.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/jquery.fullpage.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="wrap">
<header>
	<nav class="navbar col-md-12 col-sm-12 col-xs-12  wow fadeInUp">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a href="/" class="navbar-brand logo">
			<img src="images/color_with_background@2x.png">
		  </a>
	    </div>
	    <div id="myNavbarDiv">
	      <ul class="nav navbar-nav pull-right">
	        <li><a href="about" >about</a></li>
	        <li><a href="about">our team  </a></li>
	        <li><a href="about">contact us</a></li>
	      </ul>
	    </div>
	  </div>
</nav>
</header>
<div id="fullpage">
<div class="section">
<div class="topBanner pull-left">
	<div class="container">
		<div class="bannerTxt">
			<h2 class="text-center wow fadeInLeft">Phasellus blandit sodales facilisis</h2>
			<p class="text-center wow fadeInLeft">viverra tincidunt diam. Quisque eget sapien ac nibh blandit ultricies nec vel justo eget sapien ac nibh blandit.</p>
			<div class="prd_range">
				<input id="ex16a" type="text"/>
			</div>
			<div class="inpt_btn wow fadeInDown">
					<button type="button" class="cmper_brlyz">Compare Brollzy</button>
			</div>
		</div>
	</div>
</div>
</div>
<div class="section">
<div class="btm_section pull-left">
	<div class="container">
		<h2 class="text-center">What's there <span>for you</span></h2>
		<p class="text-center">viverra tincidunt diam. Quisque eget sapien ac nibh blandit ultricies nec vel justo.</p>
		<div class="search pull-left">
			<div class="col-md-4 col-sm-4 col-xs-6 search_section">
				<div class="imgB">
					<img src="images/srch.png">
				</div>
				<h3 class="text-center">Powerful Search</h3>
				<p class="text-center">Advanced features to help you find</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6  search_section">
				<div class="imgB">
					<img src="images/srch.png">
				</div>
				<h3 class="text-center">Powerful Search</h3>
				<p class="text-center">Advanced features to help you find</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6  search_section">
				<div class="imgB">
					<img src="images/srch.png">
				</div>
				<h3 class="text-center">Powerful Search</h3>
				<p class="text-center">Advanced features to help you find</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6  search_section">
				<div class="imgB">
					<img src="images/srch.png">
				</div>
				<h3 class="text-center">Powerful Search</h3>
				<p class="text-center">Advanced features to help you find</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6  search_section">
				<div class="imgB">
					<img src="images/srch.png">
				</div>
				<h3 class="text-center">Powerful Search</h3>
				<p class="text-center">Advanced features to help you find</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6  search_section">
				<div class="imgB">
					<img src="images/srch.png">
				</div>
				<h3 class="text-center">Powerful Search</h3>
				<p class="text-center">Advanced features to help you find</p>
			</div>
		</div>
	</div>
</div>
<footer class="pull-left">
	<div class="container">
		<div class="social-icons pull-left">
			<ul>
				<li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="javascript:void(0)"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
				<li><a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			</ul>
		</div>		
			<p class="text-center  pull-left">© 2017 Compare. All rights reserved.</p>
	</div>
</footer>
</div>
</div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-slider.js"></script>
<script src="js/scrolloverflow.js"></script>
<script src="js/jquery.fullpage.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
<script>
$(document).ready(function() {
		$('#fullpage').fullpage({
		    css3: true,
		    resize: false,
	        navigation: true,
	        scrollingSpeed: 1200,
	        easing: 'easeInQuart',
	        keyboardScrolling: true,
			animateAnchor: true,
			parallax: true	
		});
});
</script>
</body>
</html>